<!DOCTYPE html>
{% load analytical %}
{% load static %}
{% load plotly_dash %}


<html lang="en" style="width: 100%;">
  <head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first -->

    <title>{% block title %}HERA Dashboard{% endblock%}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
      integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
    crossorigin="anonymous">

    {% analytical_head_bottom %}
    {% block headcontent %}{% endblock %}
    {% plotly_header %}
</head>
<body>
{% analytical_body_top %}
<header>
  <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark" role="navigation">
    <div class="container-fluid" style="vertical-align: midde;">
   	    <div class="navbar-header">
   	      <a class="navbar-brand" href="/">HERA Dashboard</a>
   	    </div>
       <div class="collapse navbar-collapse">
         <ul class="navbar-nav mr-auto">
           {% for tab in tabs %}
              {% if tab.top %}
                  {% if tab.my_children %}
                      <li class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle"
                             data-toggle="dropdown" id="dropdown-{{ tab.tab_label }}"
                             aria-haspopup="true" aria-expanded="false">
                              {{ tab.tab_label }}
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdown-{{ tab.tab_label }}">
                              {% for alltabs in tabs %}
                                  {% if alltabs.tab_id in tab.my_children %}
                                  {% if alltabs.external %}
                                      <a class="dropdown-item{% if alltabs.tab_id == current_tab_id %} active{% endif %}"
                                         target="_blank"
                                         href="{{ alltabs.tab_id }}">
                                          {{ alltabs.tab_label }}
                                      </a>
                                  {% else %}
                                      <a class="dropdown-item{% if alltabs.tab_id == current_tab_id %} active{% endif %}"
                                        href="{{ alltabs.tab_id }}">
                                         {{ alltabs.tab_label }}
                                      </a>
                                  {% endif %}
                                  {% endif %}
                              {% endfor %}
                          </div>
                      </li>

                  {% endif %}

                  {% if not tab.my_children %}
                      {% if tab.external %}
                      <li class="nav-item {% if tab.tab_id == current_tab_id %} active{% endif %}">
                          <a class='nav-link' target="_blank" href="{{ tab.tab_id }}">
                              {{ tab.tab_label }}
                          </a>
                      </li>
                      {% else %}
                      <li class="nav-item {% if tab.tab_id == current_tab_id %} active{% endif %}">
                          <a class='nav-link' href="{{ tab.tab_id }}">
                              {{ tab.tab_label }}
                          </a>
                      </li>
                      {% endif %}

                  {% endif %}
              {% endif %}
          {% endfor %}

         </ul>


         <div class="librarian-time-bar">
           <span class="navbar-text  pull-right">
           Local Time: <span class="date" data-timezone="Africa/Johannesburg">Jan 1</span><br>
           Sidereal time: <span class="clock_sidereal" data-timezone="Africa/Johannesburg">00:00:00</span><br>
           Current Julian Date: <span id="julian_date">000</span><br>
           </span>
        </div>

       </div>
     </div>
   </nav>

 </header>
 <main class="flex-shrink-0 mb-12 bg-light min-vh-100" role="main">
   <div class="container-fluid justify-content-center">
       {% block precontent %}{% endblock %}
     <div class="row-sm-12">
        {% block allcontent %} {% endblock %}
      </div>
    </div>
</main>

<footer class="footer fixed-bottom bg-dark">
  <div class="conatiner">
    {% block footer %}{% endblock %}
    <p class="text-muted text-center">
      <small><small>(c) HERA Collaboration 2020
        <a target="_blank" href="https://github.com/HERA-Team/heranow">Source code</a>
      </small></small>
    </p>
  </div>
</footer>

<!-- JavaScript -->
<!-- Latest compiled and minified CSS -->

<script src="{% static "antennas/js/sidereal.js" %}" type="text/javascript"></script>
<script src="{% static "antennas/js/update_clocks.js" %}" type="text/javascript"></script>
<script>
  !function(d,s,id){
    var js,fjs=d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)){
      js=d.createElement(s);
      js.id=id;
      js.src='https://weatherwidget.io/js/widget.min.js';
      fjs.parentNode.insertBefore(js,fjs);
    }
  }(document,'script','weatherwidget-io-js');
</script>


{% block extra_scripts%}{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>


<!-- Optional theme -->

<link rel="stylesheet" type="text/css" href="{% static 'antennas/style.css' %}">

{% analytical_body_bottom %}
</body>
{% plotly_footer %}
</html>
