{% extends "base.html" %}
{% load plotly_custom %}

{% block headcontent %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block allcontent %}
<div class="container-fluid" style="height: 100%" >
  <div class="row  justify-content-center" >
    <div class="col-sm-6 flex-grow-1" style="min-height: 70vh;">
      {% plotly_direct_app_name %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
      <li class="text-muted text-center"><small><small>
        Executing host: {{ hostname }}
        </small></small>
      </li>
{% endblock %}
