html {
    /* margin: 0; */
    /* padding: 0; */
    height: 100%;
    width:100%
}

 main {
  padding-top: 40px;
  padding-bottom: 35px;
}
header {
  height: 0px;
}
footer {
  height: 36px;
}
.navbar {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}


.librarian-time-bar {
  padding-right: 15px;
  font-size: 0.7em;
  text-align: right;
  span: right;
}
.cropsky {
  position: absolute;
  clip: rect(100px,0,100px,0);
}
.dashboard-inset-titlebar {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(27, 68, 104);
  color: white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  height: 1.5em;
  width: 100%;
}

#table_com div.cell.cell-1-1.dash-fixed-content {
  width: 100%;
}

tr.noBorder td {
  border: 0;
  position: relative;
  padding: 0;
}

iframe {
  overflow: hidden;
}

div.django-plotly-dash.django-plotly-dash-direct {
  height: 100%;
}

div#react-entry-point {
  height: 100%;
}

img {
  object-fit: cover;
  height: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.rc-slider-mark-text:last-child{
transform: translateX(50%) !important ;
right: 0% !important;
left: auto !important;
}

div.row.row-0 {
  display: none;
}
/* .row:before, .row:after {display: none !important;} */
