html, body {
    /* margin: 0; */
    /* padding: 0; */
    height: 100%;
    width:100%
}
header {
  margin-bottom: 1em;
}
.navbar {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}


.librarian-time-bar {
  padding-right: 15px;
  font-size: 0.7em;
  text-align: right;
  span: right;
}
.cropsky {
  position: absolute;
  clip: rect(100px,0,100px,0);
}
.dashboard-inset-titlebar {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(27, 68, 104);
  color: white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  height: 1.5em;
  width: 100%;
}
table
{
  table-layout:fixed;
  width:100%;
}
tr.noBorder td {
  border: 0;
  position: relative;
  padding: 0;
}
iframe {
 overflow: hidden;
}


div.django-plotly-dash.django-plotly-dash-direct {
  height: 100%;
}

div#react-entry-point {
  height: 100%;
}
